#
# .gitignore
#

# Netbeans IDE related
/nbproject

# PHPStorm + Eclipse IDE related
/.buildpath
/.cache
/.project
/.idea
/.settings

# Composer related
/vendor

# build folders for PHP projects
/build/api
/build/cache
/build/code-browser
/build/coverage
/build/logs

# Scriptfiles
*.log

# PHPUnit related
phpunit.xml

# allow the user to override phpstan config
phpstan.neon
